{% extends "public/templates/dashboard_template.html" %}

{% block title %} Dashboard {% endblock %}


{% block li %}
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white act" href="/dashboard">Dashboard</a>
</li>
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white" href="/pushup">Pushup</a>
</li>
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white" href="/statistics">Statistiken</a>
</li>
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white" href="/admin">Admin</a>
</li>

{% endblock %}


{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align:center;">IchBinsTim Dashboard</h1>
            <h4 style="text-align:center;">Dezember Challenge</h4>
            <br>
            <h5 style="text-align:center;">Name: {{ session['profile']['name'] }} Team: {{ userinfo['team']}}</h5>
            <br>
            <hr>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Deine Push Ups heute:</td>
                        <td><b>{{ userinfo['pushup_today'] }}</b></td>
                    </tr>
                    <tr>
                        <td>Deine Push Ups insgesamt:</td>
                        <td><b>{{ userinfo['pushup_month'] }}</b></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Team Pushups insgesamt:</td>
                        <td><b>{{ userinfo['pushup_team'] }}</b></td>
                    </tr>
                    <tr>
                        <td>Gegner Pushups insgesamt:</td>
                        <td><b>{{ userinfo['pushup_gegner'] }}</b></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <br>
            <hr>
            <div class="col text-center">
                <button onclick="startDashboard()" class="btn btn-primary">Pushups machen</button>
            </div>
            <hr>
            <br>
        </div>
    </div>
</div>
<style>
    .table td {
        border-top: none;
        padding: unset;
        width: 95%;
    }
    .table{
        width: unset;
    }
</style>
{% endblock %}

{% block script %}
<script>
function startDashboard(){
    window.location.href = "/pushup";
}

</script>
{% endblock %}