{% extends "public/templates/dashboard_template.html" %}

{% block title %} Pushup {% endblock %}


{% block li %}
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white" href="/dashboard">Dashboard</a>
</li>
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white" href="/pushup">Pushup</a>
</li>
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white act" href="/statistics">Statistiken</a>
</li>
<li class="navbar-brand nav-item">
    <a id="hover1" class="nav-link white" href="/admin">Admin</a>
</li>

{% endblock %}


{% block main %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 style="text-align:center;">IchBinsTim Statistiken</h1>
            <h4 style="text-align:center;">Dezember Challenge</h4>
            <p>Nothing here :(</p>
            <canvas id="myChart"></canvas>
            <div class="col text-center">
                <button onclick="startDashboard()" class="btn btn-primary">Zurück</button>
            </div>
            <hr>
            <br>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0">
</script>
<script>
function startDashboard(){
    window.location.href = "/dashboard";
}
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});
</script>
{% endblock %}
